
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
<br />
<br />
<br />
<br />
@Html.ActionLink("View Events", "Index", "Event")<br />
@Html.ActionLink("Create Event", "Create", "Event")<br />